div#character_display.character-fixed
    div.text-center
        = image_tag(character_expression.image_path, width: 200)
    div.speech-bubble.speech-bubble-below.mt-3.d-flex.align-items-center
        p.mb-0 = character_text.text
