div.card.text-white.w-50.border-0.mx-auto.mt-5
  div.card-header.card-header-color.pb-0
    p.p-1 コスパランキング
  div.card-body.card-body-color.d-flex
    ol.w-100.px-3
      - @all_cost_performance_games.each do |library|
        li.d-flex.justify-content-between
          span.col-6 = library.game.game_title
          span.col-6 = "¥#{library.game.price}"
          span.col-6 = "#{(library.minutes_played/60.0).round(1)}時間"
          span.col-6 = "#{(((library.minutes_played + 1).to_f / library.game.price)*1000).round(2)}"