= turbo_stream_from current_user

div.text-white.py-5.mt-5.position-relative style="background-color: #16202d;"
    div.text-center
        p.fs-3.mb-0.text-muted-steam あなたの積みゲー総額は
        div.price-display.fw-bold.mt-0
            = render "user_game_libraries/total_price", total_price: @total_price, user: @user

        div.d-flex.justify-content-center.align-items-center.gap-3 style="margin-top: 5rem;"
            = button_to "積みゲー統計へ", statistic_path, method: :get, class: "btn btn-steam-primary"
            = link_to "https://twitter.com/share?url=#{user_share_url(id: current_user.id)}&text=総積み金額は#{@total_price}円！", class: "btn-steam-share" do
                i class="fa-brands fa-x-twitter"

    div.character-overlay-position
        = render "user_characters/character_display", character_text: @character_text, character_expression: @character_expression