nav.navbar.navbar-expand-lg.ps-3.fixed-top.header-nav
  -if user_signed_in?
    h1.header-title = link_to '積み算', user_path, class: 'text-white text-decoration-none'
  - else
    h1.header-title = link_to '積み算', root_path, class: 'text-white text-decoration-none'
  - if user_signed_in?
    div.header-search.position-relative data-controller="search" data-search-url-value=search_suggestions_games_path
      = search_form_for @q, html: { class: "d-flex align-items-center" } do |f|
        = f.search_field :game_title_cont, data: { action: "input->search#search focus->search#search" }, class: "search-input form-control rounded me-2", placeholder: "ゲームを検索", autocomplete: "off"
        = f.button type: "submit", class: "btn btn-steam-search" do
          i.bi.bi-search
      = turbo_frame_tag "search_suggestions", data: { search_target: "frame" }, class: "position-absolute top-100 end-0 mt-1", style: "z-index: 1050; width: 350px;"

    div.header-dropdowns.ms-auto.d-flex
      - unless current_page?(user_path)
        div.pe-3.d-flex.align-items-center.flex-shrink-0
          span.header-total-price.me-3.text-nowrap
            | 積みゲー総額
            span.fw-bold.fs-6.ms-1 = render 'user_game_libraries/total_price', total_price: UserGameLibrary.total_price(current_user), user: current_user

      div.dropdown.pe-3
        button.nav-tab-toggle.dropdown-toggle.me-3 type="button" data-bs-toggle="dropdown" data-bs-popper-config='{"strategy": "fixed", "modifiers": [{"name": "applyStyles", "enabled": true}, {"name": "preventOverflow", "options": {"boundary": "clippingParents"}}, {"name": "offset", "options": {"offset": [0, 2]}}]}' aria-expanded="false" 積みゲー分析
        ul.dropdown-menu
          li
            = link_to '積みゲー総額', user_path, class: 'dropdown-item'
            = link_to '積みゲー統計', statistic_path, class: 'dropdown-item'
            = link_to 'あなたの積みゲー一覧', backlog_path, class: 'dropdown-item'
            = link_to 'みんなのゲーム一覧', games_path, class: 'dropdown-item'
            = link_to 'プレイ状況', play_focus_path, class: 'dropdown-item'

      div.dropdown.pe-3
        button.nav-tab-toggle.dropdown-toggle.me-3 type="button" data-bs-toggle="dropdown" data-bs-popper-config='{"strategy": "fixed", "modifiers": [{"name": "applyStyles", "enabled": true}, {"name": "preventOverflow", "options": {"boundary": "clippingParents"}}, {"name": "offset", "options": {"offset": [0, 2]}}]}' aria-expanded="false" 積みゲーマイレージ
        ul.dropdown-menu
          li
            = link_to '育成', user_character_path(@default_user_character), class: 'dropdown-item'
            = link_to 'マイレージショップ', shop_items_path, class: 'dropdown-item'
            = link_to 'マイレージ確認', tasks_path, class: 'dropdown-item'

      div.dropdown.pe-3
        button.nav-tab-toggle.dropdown-toggle type="button" data-bs-toggle="dropdown" data-bs-popper-config='{"strategy": "fixed", "modifiers": [{"name": "applyStyles", "enabled": true}, {"name": "preventOverflow", "options": {"boundary": "clippingParents"}}, {"name": "offset", "options": {"offset": [0, 2]}}]}' aria-expanded="false" #{current_user.name}
        ul.dropdown-menu
          li
            - if @now_playing_libraries.present?
              - @now_playing_libraries.each do |library|
                = link_to "今プレイ中のゲーム: #{library.game.game_title}", play_focus_path, class: 'dropdown-item'
            - else
              = link_to '今プレイ中のゲーム: 未設定', play_focus_path, class: 'dropdown-item'
            = link_to 'ログアウト', destroy_user_session_path, class: 'dropdown-item', data: {turbo_method: :delete}
            = link_to 'アカウント削除', user_path , class: 'dropdown-item', data: {turbo_method: :delete, turbo_confirm: "本当に削除しますか？" }